<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.myseneca.ecoactionapp">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MapActivity"
            android:label="@string/title_activity_map"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProjectListActivity"
            android:label="@string/title_activity_project_list"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBdWtquTb2hFAM1TL5KwZ7IdDL8Q66jxFk" />
        <!-- code from https://developers.google.com/maps/documentation/android-api/signup#add_the_api_key_to_your_application -->
        <activity
            android:name=".ProjectDetailActivity"
            android:label="@string/title_activity_project_detail"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>
